@{
    ViewData["Title"] = "Редактирование водителя";
    Layout = "_LayoutMain";
}
<script src="~/js/funcForEditingDriver.js" asp-append-version="true"></script>
<script src="~/js/funcForMyRoutes.js" asp-append-version="true"></script>
<script src="~/js/funcForCreateNewDriver.js" asp-append-version="true"></script>


<body onload="SelectOptionOnNewDriver(), DriverInfoOnEditingDriver(window.location.search)">
    <h1 align="center">Параметры редактирования</h1>
    <br>
    <form method="post" id="editing_driver" style="margin-left:10rem; margin-right:5rem">
        <div style="width:70%">
            <div>
                <span style="font-size: 15pt">ФИО</span>
                <input class="form-control" style="text-align: left;" id="driver_name" required />
                <br>
            </div>
            <span style="font-size: 15pt">Паспортные данные</span> <br>
            <input class="form-control" style="text-align: left;" id="passport" required />
            <br>
            <div>
                <span style="font-size: 15pt">Номер маршрута</span>
                <select class="btnLogin btn btn-light" name="route" id="route" onchange="GetRoutesOnNewDriver()">
                </select>
            </div>
            <br>
            <div>
                <span style="font-size: 15pt">Марка автомобиля</span>
                <input class="form-control" style="text-align: left;" id="AutoMarka" required />
                <br>
            </div>

            <div>
                <span style="font-size: 15pt">Гос номер автомобиля</span>
                <input class="form-control" style="text-align: left;" id="AutoNum" required />
                <br>
            </div>

            <div>
                <span style="font-size: 15pt">Логин</span>
                <input class="form-control" runat="server" style="text-align: left;" id="DriverLogin" required />
                <br>
            </div>
            <div>
                <span style="font-size: 15pt">Пароль</span>
                <input class="form-control" runat="server" style="text-align: left;" type="password" id="DriverPassword"
                    required />
                <br>
            </div>

        </div>
        <br>

        <div style="display:flex">

            <br>
            <div>
                <a class="btnLogin btn btn-light" onclick="javascript:history.back(); return false;">Назад</a>
            </div>
            <div style="margin-left:10px">
                <input type="submit" class="btnLogin btn btn-light" value="Сохранить"></input>

            </div>
            <div style="margin-left:10px">
                <a class="btnLogin btn btn-danger" onclick="DeleteDriver(1)">Удалить</a>
            </div>
        </div>
    </form>
    <script>
        document.getElementById("editing_driver").addEventListener("submit", function (e) {
            e.preventDefault();
            EditDriver();
        });
    </script>


</body>
