@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LayoutStart";
}
<script src="~/js/LoginScript.js" asp-append-version="true"></script>

<body>
    <div class="container">
        <main role="main" class="pb-3">

            <form class="login" method="post" id="LogIn" autocomplete="off" style="margin-left:25rem;">

                <h1> Авторизация</h1><br>
                <div>
                    <span style=" font-size: 17pt;">Логин</span>
                    <input class="form-control"  name="login" id="login" runat="server" style="text-align: left;" required />
                    <br>
                </div>
                <div>
                    <span style=" font-size: 17pt;">Пароль</span>
                    <input class="form-control" name="password" id="password" runat="server" style="text-align: left;" type="password" required />
                    <br>
                </div>

                <div id="error_message" style="color: red;"></div>

                <br>
                <p><a href="../Home/Registration" style="font-size: 12pt">У Вас нет учетной записи? </a></p>
                <br>
                <div style="display: flex;justify-content: normal;">
                    <!---- <a class="btnLogin btn btn-light" style="font-size: 17pt;" asp-area="" asp-controller="Home" asp-action="Profile">Войтиasp-controller="Home" asp-action="CheckLogin" </a>-->
                    <input type="submit" value="Войти" class="btnLogin btn btn-light" style="font-size: 17pt;" />
                </div>

            </form>

        </main>
    </div>
    <script>
        document.getElementById("LogIn").addEventListener("submit", function (e) {
            e.preventDefault();
            login();
        });
        function login() {
            var log = document.getElementById('login').value;
            var pass = document.getElementById('password').value;
            console.log(log);
            console.log(pass);
            // 1. Создаём новый объект XMLHttpRequest
            var xhr = new XMLHttpRequest();
            var res;
            // 2. Конфигурируем его: GET-запрос на URL
            xhr.open('GET', 'https://raw.githubusercontent.com/DotsenkoKate/TTGWeb/master/json_test_files/profile.json', false);
            // 3. Отсылаем запрос
            xhr.send();
            // 4. Если код ответа сервера не 200, то это ошибка
            if (xhr.status != 200) {
                // обработать ошибку
                alert(xhr.status + ': ' + xhr.statusText); // пример вывода: 404: Not Found

            } else {
                // вывести результат
                res = JSON.parse(xhr.responseText);
                console.log(res.name, res.password);
            }
            if (res.login == log && res.password == pass) {

                window.localStorage.setItem("login", log);
                location.pathname = '/Home/Profile'
                location.replace(pathname);


            }
            else (document.getElementById('error_message').innerHTML = 'Некорретно введен логин или пароль!');

        }

    </script>
</body>
