@{
    ViewData["Title"] = "Мои маршруты";
    Layout = "_LayoutMain";
}
<body >

    <script src="https://api-maps.yandex.ru/2.1/?apikey=35171b98-e159-494e-9a49-fb4f12e60d78&lang=ru_RU" type="text/javascript"></script>
    <script src="placemark.js" type="text/javascript"></script>
    <div style="display:flex"> 
    <label style="font-size: 24px; margin-right: 24px;">Выберете маршрут</label>
    <select class="btnLogin btn btn-light" name="route" id="RouteOnMyRoutes" onchange="check_my_route()">
        
        <option value="null"></option>
        <option value="98">98</option>
        <option value="10c">10c</option>
    </select>
    <br>
    <a class="btnLogin btn btn-light" style="margin: 0 15px;" asp-area="" asp-controller="Home" asp-action="NewRoute" asp-route-login=@ViewBag.Login>Добавить новый маршрут</a>
    </div>

    <br>
    <br>
    

    <div id="main">
    </div>

    <div id="hidden_div">
        <div id="null" style=display:none> </div>
        <div id="98" style=display:none>
            <div class="div-inline">
                <div>
                    <div id="map98" style="width: 600px; height: 400px"></div>
                </div>
                <div style="margin-left: 30px">
                    <div>
                        <h4 align="center">
                            <span><b>Маршрут №</b></span>
                            <span id="route_name"><b>98</b></span>
                        </h4>
                    </div>
                    <div>
                        <span><b>Оценка маршрута</b></span>
                        <span id="route_raiting">8,2</span>
                    </div>
                    <div>
                        <span><b>Количество водителей: </b></span>
                        <span id="route_driver_count">3</span>
                    </div>
                    <div>
                        <span><b>О водителях: </b><br></span>
                        <table class="table">
                            <tr><th>№</th><th>ФИО</th><th>Рейтинг</th><th>Гос номер автомобиля</th><th>Марка автомобиля</th><th>Состояние</th></tr> <!--ряд с ячейками заголовков-->
                            <tr><td>1</td><td>Иванов Иван Иванович</td><td>6,7</td><td>A001AA134</td><td>Газель</td><td>Эксплуатируется</td></tr> <!--ряд с ячейками тела таблицы-->
                            <tr><td>2</td><td>Петров Петр Петрович</td><td>8,3</td><td>A002AA134</td><td>Volkswagen</td><td>Эксплуатируется</td></tr> <!--ряд с ячейками тела таблицы-->
                            <tr><td>3</td><td>Михайлов Михаил Михайлович</td><td>7,2</td><td>A003AA134</td><td>Газель</td><td>Эксплуатируется</td></tr> <!--ряд с ячейками тела таблицы-->

                        </table>
                        <br>
                        <a class="btnLogin btn btn-light" asp-area="" asp-controller="Home" asp-action="Editing" asp-route-login=@ViewBag.Login>Отредактировать</a>
                    </div>

                </div>

            </div>
        </div>

        <div id="10c" style=display:none>
            <div class="div-inline">
                <div>
                    <div id="map10c" style="width: 600px; height: 400px"></div>
                </div>
                <div style="margin-left: 30px">
                    <div>
                        <h4 align="center">
                            <span><b>Маршрут №</b></span>
                            <span id="route_name"><b>10с</b></span>
                        </h4>
                    </div>
                    <div>
                        <span><b>Оценка маршрута</b></span>
                        <span id="route_raiting">7,5</span>
                    </div>
                    <div>
                        <span><b>Количество водителей: </b></span>
                        <span id="route_driver_count">3</span>
                    </div>
                    <div>
                        <span><b>О водителях: </b><br></span>
                        <table class="table">
                            <tr><th>№</th><th>ФИО</th><th>Рейтинг</th><th>Гос номер автомобиля</th><th>Марка автомобиля</th><th>Состояние</th></tr> <!--ряд с ячейками заголовков-->
                            <tr><td>1</td><td>Селезнев Алексей Олегович</td><td>9,7</td><td>A004AA134</td><td>Mercedes-Benz</td><td>Эксплуатируется</td></tr> <!--ряд с ячейками тела таблицы-->
                            <tr><td>2</td><td>Степанов Сергей Андреевич</td><td>8,9</td><td>A005AA134</td><td>Mercedes-Benz</td><td>Эксплуатируется</td></tr> <!--ряд с ячейками тела таблицы-->
                            <tr><td>3</td><td>Кукушкин Петр Владимирович</td><td>7,2</td><td>A006AA134</td><td>Газель</td><td>На ремонте</td></tr> <!--ряд с ячейками тела таблицы-->
                        </table>
                        <br>
                        <a class="btnLogin btn btn-light" asp-area="" asp-controller="Home" asp-action="Editing" asp-route-login=@ViewBag.Login>Отредактировать</a>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
