@{
    ViewData["Title"] = "Профиль";
    Layout = "_LayoutMain";
}

<body onload="Show()">
    <h1 align="center"> Профиль <br></h1>
    <div style="width: 700px;display: block;margin-left: auto;margin-right: auto;">
        <form id="profile_info">
            <div>
                <span style=" font-size: 20pt;">ФИО</span>
                <input class="form-control" id="name" runat="server" style="text-align: left;" required/>
                <br>
            </div>
            <div>
                <span style=" font-size: 20pt;">Номер лицензии</span>
                <input class="form-control" id="license" runat="server" style="text-align: left;"  required/>
                <br>
            </div>
            <div>
                <span style=" font-size: 20pt;">Логин</span>
                <input class="form-control" id="login" runat="server" style="text-align: left;"  required/>
                <br>
            </div>
            <div>
                <span style=" font-size: 20pt;">Пароль</span>
                <input class="form-control" type="password" id="password" runat="server" style="text-align: left;"  required/>
                <br>
            </div>
        </form>
        <div>
            <div style="display: inline-block;">
                <input type="submit" class="btnLogin btn btn-light" style="font-size: 18pt; border-radius: .45rem;" value="Сохранить" onclick="SaveNewProfileInfo()">
            </div>

            <div style="display: inline-block;">
                <a class="btn1 btn btn-danger" asp-area="" asp-controller="Home" asp-action="Login">Выйти</a>
            </div>
        </div>
    </div>
</body>


