@model TTGWeb.Models.RegistrationViewModel

@{
    ViewData["Title"] = "Авторизация";
    Layout = "_LayoutStart";
}

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <form class="signin" method="post" autocomplete="off" style="margin-left:15rem; margin-right:15rem">
                <h1 style="text-align: center"> Регистрация</h1><br>
                <div>
                    <span style="font-size: 17pt;">ФИО</span>
                    <input class="form-control" asp-for="Name" name="name" runat="server" style="text-align: left;" />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Номер лицензии</span>
                    <input class="form-control" asp-for="License" name="license" runat="server" style="text-align: left;" />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Логин</span>
                    <input class="form-control" asp-for="Login" name="login" runat="server" style="text-align: left;" />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Пароль</span>
                    <input class="form-control" asp-for="Password" name="password" runat="server" style="text-align: left;" type="password" />
                    <br>
                </div>
                <br>
                <div style="display: flex;justify-content: center;">
                    <!----<a class="btnLogin btn btn-light" asp-area="" asp-controller="Home" asp-action="Login">Зарегистрироваться</a> -->
                    <input type="submit" style="font-size: 16pt;" value="Зарегистрироваться" class="btnLogin btn btn-light" />
                </div>
                <br>
            </form>
        </main>
    </div>

   
</body>