@{
    ViewData["Title"] = "Регистрация";
    Layout = "_LayoutStart";
}

<script src="~/js/funcForRegistration.js" asp-append-version="true"></script>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            <form class="signin" method="post" autocomplete="off" id="Regestration"
                style="margin-left:15rem; margin-right:15rem">
                <h1 style="text-align: center"> Регистрация</h1><br>
                <div>
                    <span style="font-size: 17pt;">ФИО</span>
                    <input class="form-control" id="ownerName" runat="server" style="text-align: left;" required />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Номер лицензии</span>
                    <input class="form-control" id="license" runat="server" style="text-align: left;" required />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Логин</span>
                    <input class="form-control" id="login" runat="server" style="text-align: left;" required />
                    <br>
                </div>
                <div>
                    <span style="font-size: 17pt;">Пароль</span>
                    <input class="form-control" id="password" runat="server" style="text-align: left;" type="password"
                        required />
                    <br>
                </div>
                <br>
                <div style="display: flex;justify-content: center;">
                    <!----<a class="btnLogin btn btn-light"  asp-controller="Home" asp-action="Registration">Зарегистрироваться</a> -->
                    <input type="submit" style="font-size: 16pt;" value="Зарегистрироваться"
                        class="btnLogin btn btn-light" />
                </div>
                <br>
            </form>
        </main>
    </div>
    <script>
        document.getElementById("Regestration").addEventListener("submit", function (e) {
            e.preventDefault();
            CreateNewUser();
        });

    </script>

</body>