@{
    ViewData["Title"] = "Результаты отчёта";
    Layout = "_LayoutMain";
}

<body onload="ReportResult(), TableDriversOnReport(), Best(), Worst()">

    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawTime);
        google.charts.setOnLoadCallback(drawProfit);
        google.charts.setOnLoadCallback(drawProfit_Driver);


        function drawTime() {
            // Set Data
            var data = google.visualization.arrayToDataTable(GetDataForTime());
            // Set Options
            var options = {
                title: 'Динамика изменения среднего времени рейса',
                hAxis: { title: 'Месяц' },
                vAxis: { title: 'Среднее время рейса' },
                legend: 'none'
            };
            // Draw
            var chart = new google.visualization.LineChart(document.getElementById('time'));
            chart.draw(data, options);
        }
        function drawProfit() {
            // Set Data
            var data = google.visualization.arrayToDataTable(GetDataForProfit());
            // Set Options
            var options = {
                title: 'Динамика изменения средней прибыли за смену',
                hAxis: { title: 'Месяц' },
                vAxis: { title: 'Средняя прибыль' },
                legend: 'none'
            };
            // Draw
            var chart = new google.visualization.LineChart(document.getElementById('profit'));
            chart.draw(data, options);
        }
        function drawProfit_Driver() {
            // Set Data
            var data = google.visualization.arrayToDataTable(GetDataForDriverProf());

            var options = {

                pieSliceText: 'label',
                title: 'Распределение полученной прибыли',
                pieStartAngle: 100,
                pieHole: 0.4,

            };

            var chart = new google.visualization.PieChart(document.getElementById('profit_driver'));
            chart.draw(data, options);
        }
    </script>
    <div>
        <h2 align="center">Отчёт</h2>
        <div>
            <div>
                <span><b>Маршрут №</b></span>
                <span id="route_name"></span>
            </div>
            <div>
                <span><b>Период: </b></span>
                <span id="date"></span>
            </div>

        </div>

        <div>
            <div>
                <span>Текущая арендная плата за смену - </span>
                <span id="pricefordriver"> </span>
            </div>
            <div>
                <span>Текущая стоимость проезда - </span>
                <span id="priceforpassangers"> </span>
            </div>
            <div>
                <br>
                <h5><b>Общие данные за выбранный период</b></h5>
                <div>
                    <div id="time" style="width:100%; max-width:600px; height:500px;"></div>
                </div>
                <div>
                    <div id="profit" style="width:100%; max-width:600px; height:500px;"></div>
                </div>
            </div>
            <div>
                <br>
                <h5><b>Водители</b></h5>
                <span>Общая информация о водителях <br></span>
                <table class="table" id="table">
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Гос номер автомобиля</th>
                        <th>Кол-во рейсов</th>
                        <th>Заработанная прибыль</th>

                    </tr>
                </table>
                <br>

            </div>


            <div id="profit_driver" style="width:100%; max-width:700px; height:500px;"></div>
            <div>
                <span><b>Наихудшие рейсы</b><br></span>
                <table class="table" id="worst">
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Гос номер автомобиля</th>
                        <th>Дата смены</th>
                        <th>Сумма</th>
                    </tr>
                </table>
                <br>
            </div>
            <div>
                <span><b>Наилучшие рейсы</b><br></span>
                <table class="table" id="best">
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th>Гос номер автомобиля</th>
                        <th>Дата смены</th>
                        <th>Сумма</th>
                    </tr>
                </table>
                <br>
            </div>
        </div>
    </div>


    <div>
        <br>
        <a class="btnLogin btn btn-light" onclick="javascript:history.back(); return false;">Назад</a>
    </div>


    </div>
</body>
