@{
    ViewData["Title"] = "Отчет";
    Layout = "_LayoutMain";
}
<body>

    <h1 align="center">Параметры отчета</h1>

    <div>
        <label style="font-size: 24px; margin-right: 24px;">Выберете маршрут</label>
        <select class="btnLogin btn btn-light" name="route" id="route1">
            <option value="98">98</option>
            <option value="10с">10c</option>
        </select>
    </div> 
    <br>
    <div style=" width: 60%; display: flex;" }>

        <div>
            <label style="font-size: 24px; margin-right: 40px;">Выберете промежуток</label>
        </div>

        <div>
            <input type="text" class="form-control" id="date" name="date" placeholder="Дата" required style="margin-left:20px" data="01.01.2021-30.06.2021">
        </div>

    </div>
    <br>
    <div>
        <a class="btnLogin btn btn-light" asp-area="" asp-controller="Home" asp-action="ReportResult">Сформировать</a>
    </div>

</body>
